h1{
    font-size: 50px;
    text-align: center;
    color: purple;
}

p {
    font-size: 30px;
    color: DarkMagenta;
}

a {
    font-size: 30px;
    font-family: Trebuchet MS;
}

body {
  background-color: LightGreen;
  text-align: center; 
  font-family: Trebuchet MS;
}
