h1{
    font-size: 50px;
    text-align: center;
    color: white;
}
ul{
    float: right; 
    padding: 50px; 
    border-style: solid;
    border-color: white;
    border-width: 5px; 
}
body{
    background-color: grey;
    font-family: Helvetica; 
}
